{
  "plexgcd": {
    "log_path": "/opt/plexgsuite/logs/",
    "start_time": "23:00",
    "end_time": "09:00",
    "disk_threshold": "80",
    "disk_check_path": "/",
    "local_dir": "/data/.local",
    "rclone": "/usr/bin/rclone",
    "rclone_transfers": "10",
    "remote_name": "gcd-crypt:"
    }
    "nzbget": {
    "username": ""
    "password": ""
    "host": ""
    }
    "smtp": {
    "ip": "",
    "port": "",
    "user": "",
    "pass": "",
    "notify": "",
    }
}
